.loader {
  width: 100%;
  min-height: 64px;
  background-repeat: no-repeat;
  background-position: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}